.pageHeader,
.newCommandPageHeader {
  height: 240px;
  padding: 0 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pageHeader h1,
.newCommandPageHeader h1 {
  font-size: 60px;
}

.pageHeader button {
  font-size: 30px;
  padding: 5px 15px;
  margin: 0 4px;
  border-radius: 5px;
  border: 0;
  background-color: #f5f5f5;
  cursor: pointer;
  transition: 0.1s ease;
}

.pageHeader button:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.07);
  background-color: #fff;
}

.commandsList {
  /* margin-top: 100px; */
  padding: 0 100px;
}

.commandsList .commandsListItem {
  display: flex;
  background-color: #fff;
  margin: 15px 0px;
  padding: 10px 40px;
  align-items: center;
  transition: 0.1s ease;
  justify-content: space-between;
}

.commandsList .commandsListItem p,
.commandsListItem span {
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.commandsList .commandsListItem .description {
  font-size: 20px;
  text-align: start;
  flex: 1;
}

.commandsListItem:hover {
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.07);
}

.commandsList .commandsListItem .keyWord {
  font-size: 20px;
  width: 35%;
  display: flex;
  align-items: center;
  margin: 0;
}

.commandsListItem .prefix {
  color: #0080f6;
}

.commandsList .commandsListItem div {
  width: 100px;
}

.commandsListItem .buttonsWrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.buttonsWrapper svg {
  cursor: pointer;
}

.commandsListHeader {
  padding: 0 140px;
  display: flex;
  align-items: center;
  margin: 0;
}

.commandsListHeader span {
  margin-bottom: -5px;
  font-size: 22px;
  font-weight: bold;
}

.changePrefixHeader {
  font-weight: 600;
  font-size: 22px;
}

.updatePrefixWrapper {
  padding: 20px 100px;
  margin-bottom: 50px;
}

.updatePrefixWrapper form {
  display: flex;
  margin-top: 15px;
  align-items: center;
  margin-left: 5px;
}

.updatePrefixWrapper div {
  height: 30px;
  align-items: center;
  display: flex;
  border-radius: 5px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.07);
}

.updatePrefixWrapper div input {
  outline: none;
  color: #0080f6;
  border: 0;
  background: #fff;
  padding: 3px 5px;
  font-size: 17px;
  width: 100px;
}

.updatePrefixWrapper form div button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.updatePrefixWrapper div button svg {
  width: 10px;
  height: 10px;
}

.updatePrefixWrapper form .saveButton {
  background-color: #f5f5f5;
  transition: 0.1s ease;
  border: 0;
  height: 30px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  margin-left: 4px;
  border-radius: 5px;
}

.updatePrefixWrapper .saveButton:hover {
  background-color: #fff;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.07);
}

.newCommandContainer {
  padding: 20px 10px;
}

.newCommandForm {
  display: flex;
  flex-direction: column;
  padding: 0 100px;
}

.newCommandForm input,
.newCommandForm textarea {
  padding: 5px 15px;
  width: 70%;
  font-size: 20px;
  min-width: 10%;
  border-radius: 5px;
  overflow: hidden;
  min-height: 10%;
  max-width: 70%;
  height: 30px;
  outline: none;
  margin: 10px 0;
  border: 0;
  background-color: #fff;
}

.newCommandForm textarea {
  padding-top: 10px;
  height: 100px;
}

.newCommandForm .keywordInput {
  display: flex;
  margin: 10px 0;
  background-color: #fff;
  padding: 0 10px;
  width: 20%;
  border-radius: 5px;
  align-items: center;
}

.newCommandForm .keywordInput p {
  margin: 0;
  color: #0080f6;
  font-size: 22px;
  margin-bottom: 4px;
}

.newCommandForm .keywordInput input {
  padding: 0 0;
  margin: 5px 0;
  flex: 1;
  height: 30px;
}

.newCommandForm label,
.selectionContainerHeader label {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: -5px;
  margin-left: 3px;
  font-size: 22px;
}

.selectionContainer {
  margin-top: 20px;
}

.selectionItemsContainer {
  display: flex;
  flex-wrap: wrap;
}

.selectionItem {
  padding: 2px 10px;
  font-size: 20px;
  border: 1px solid #000;
  margin: 5px;
  margin-top: 15px;

  padding-bottom: 5px;
  cursor: pointer;
  transition: 0.1s ease;
}

.activeSelectionItem {
  border-color: #0080f6;
  color: #0080f6;
}

.selectAllButton {
  background-color: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
  margin-left: 10px;
  font-size: 16px;
}

.saveButton {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.123);
  border: 0;
  border-radius: 4px;
  padding: 5px 12px;
  background-color: white;
  cursor: pointer;
  transition: 0.15s ease;
  font-weight: bold;
  font-size: 22px;
  margin: 25px 0;
  width: fit-content;
}

.saveButton:hover {
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.123);
}
